/*tabular */
div.gcif-compare.table{
    margin-top: 2em;
}

div.gcif-compare.table tbody:nth-child(even)
{
    background:rgba(76, 80, 169, 0.10);
}

div.gcif-compare.table tr:hover td{
    background-color: rgba(76, 80, 169, 0.10);
}

.gcif-compare.table th.header{
    text-align: center;
}

.gcif-compare.table td.indicator{
    text-align: center;
}

.gcif-compare.table td.key.indicator{
    text-align: left;
}


/* legend */
.gcif-compare.legend{
    font-size: 1.2em;
    margin-top: 2em;
    margin-left: 2em;
}